.imgLivro{
    max-width: 600px;
}

.mainOffer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.offerText{
    max-width: 600px;
}

.offerText h1{
    font-size: 1.4rem;
}

.offerText p{
    font-size: 0.9rem;
}

.span-datas{
    border: 1px solid rgb(0, 145, 228);
    width: 150px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 144, 228, 0.181);
    margin: 0 auto;
}

.span-datas p{
    font-size: 0.9rem;
    font-weight: normal;
}

.span-datas span{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.8rem;
}

.span-main{
    display: flex;
    margin-top: 1.5rem;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1040px) {
    .mainOffer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .imgLivro{
        max-width: 500px;
    }

    .span-main{
        flex-wrap: wrap;
    }

    .span-datas{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .imgLivro{
        max-width: 400px;
    }
}