.main{
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 0.5rem;
}

.bookPhotos{
    max-width: 600px;
}

.main-author{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 1px 0.5px rgba(0, 98, 154, 0.222);
    background: linear-gradient(120deg, rgba(0, 98, 154, 0.589), rgba(255, 255, 255, 0.359));
}

.main-author h1{
    font-size: 1.2rem;
}

.p-width{
    max-width: 400px;
    line-height: 1.8rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 1040px) {
    
    .main-author{
        flex-wrap: wrap;
        max-width: 600px;
    }

    .bookPhotos{
        width: 400px;
    }
}

@media screen and (max-width: 600px) {

    .bookPhotos{
        width: 350px;
    }
}